Repository oieduardorabelo/pnpm-monorepo-template-nextjs-tailwind-turbo-and-ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier-package-json --write"
  ]
}

fix: package name
  package.json
Due: prettier --write, prettier-package-json --write

chore: git hooks
  .husky/pre-commit
Due: none

feat: add prettier and prettier-tailwind plugin + format code
  .eslintrc.cjs
  .lintstagedrc
  .prettierignore
  next.config.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  prettier.config.cjs
  src/components/layout.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/login.tsx
  tailwind.config.cjs
  tsconfig.json
Due: eslint, prettier --write, prettier-package-json --write

feat: add navigation and login page + clsx for classname logic
  package.json
  pnpm-lock.yaml
  src/components/layout.tsx
  src/components/navigation.tsx
  src/pages/index.tsx
  src/pages/login.tsx
Due: eslint, prettier --write, prettier-package-json --write

feat: add signup and login routes, domains and repos
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/alerts.tsx
  src/components/navigation.tsx
  src/domains/auth/hooks.ts
  src/domains/storage/hooks.ts
  src/domains/user/hooks.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/signup.tsx
  src/repos/auth.ts
  src/repos/user.ts
Due: eslint, prettier --write, prettier-package-json --write

feat: add username to type user
  src/components/layout.tsx
  src/components/navigation.tsx
  src/pages/index.tsx
  src/pages/signup.tsx
  src/repos/auth.ts
  src/repos/user.ts
Due: eslint, prettier --write

feat: add flash messages and handle redirectTo in client-side
  src/components/navigation.tsx
  src/domains/storage/hooks.ts
  src/pages/index.tsx
  src/pages/login.tsx
  src/pages/signup.tsx
  src/pages/users.tsx
Due: eslint, prettier --write

feat: query users in users page
  src/domains/storage/hooks.ts
  src/domains/user/hooks.tsx
  src/pages/signup.tsx
  src/pages/users.tsx
  src/repos/user.ts
Due: eslint, prettier --write

feat: flex center footer icon and type in todo
  src/components/layout.tsx
  src/repos/auth.ts
Due: eslint, prettier --write

feat: create pnpm workspaces/monorepo with apps/ and packages/
  .eslintrc.cjs
  .gitignore
  apps/web/next-env.d.ts
  apps/web/next.config.cjs
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/public/favicon.ico
  apps/web/public/vercel.svg
  apps/web/src/components/alerts.tsx
  apps/web/src/components/layout.tsx
  apps/web/src/components/navigation.tsx
  apps/web/src/domains/auth/hooks.ts
  apps/web/src/domains/storage/hooks.ts
  apps/web/src/domains/user/hooks.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/signup.tsx
  apps/web/src/pages/users.tsx
  apps/web/src/repos/auth.ts
  apps/web/src/repos/user.ts
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.cjs
  apps/web/tsconfig.json
  package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.jsx.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.workspace.json
Due: eslint, prettier --write, prettier-package-json --write

fix: add comment
  tsconfig.workspace.json
Due: prettier --write

fix: lint errors and package-json scripts
  .eslintrc.cjs
  package.json
  tsconfig.workspace.json
Due: prettier --write, prettier-package-json --write

feat: strict pnpm+node and apps/storybook
  .eslintrc.cjs
  .gitignore
  .npmrc
  apps/web/tailwind.config.cjs
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
Due: prettier --write, prettier-package-json --write

fix: update prettier-package-json command
  .lintstagedrc
  package.json
Due: prettier --write, prettier-package-json --write

fix: remove apps/storybook
  pnpm-lock.yaml
Due: none

feat: add ladle instead of storybook
  .gitignore
  apps/ladle/.ladle/components.tsx
  apps/ladle/.ladle/config.mjs
  apps/ladle/package.json
  apps/ladle/src/Button/Button.stories.tsx
  apps/ladle/src/Button/Button.tsx
  apps/ladle/styles/global.css
  apps/ladle/tailwind.config.js
  apps/ladle/tsconfig.json
  apps/ladle/vite.config.ts
  package.json
  packages/tailwind/base.css
  packages/tailwind/package.json
  packages/tailwind/tailwindconfig.base.js
  packages/tailwind/tsconfig.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  prettier.config.cjs
Due: eslint, prettier --write, prettier-package-json --write

feat: reuse tailwind config in web/ + run prettier with single quotes
  apps/ladle/.ladle/components.tsx
  apps/ladle/src/Button/Button.stories.tsx
  apps/ladle/src/Button/Button.tsx
  apps/ladle/tailwind.config.js
  apps/web/package.json
  apps/web/src/components/alerts.tsx
  apps/web/src/components/layout.tsx
  apps/web/src/components/navigation.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/signup.tsx
  apps/web/src/pages/users.tsx
  apps/web/tailwind.config.cjs
  packages/tailwind/tailwindconfig.base.js
  pnpm-lock.yaml
  prettier.config.cjs
Due: eslint, prettier --write, prettier-package-json --write

fix: reuse tailwind base
  apps/ladle/postcss.config.cjs
  apps/ladle/tsconfig.json
  apps/web/src/styles/globals.css
Due: prettier --write

feat: use top-level eslint for all monorepo and use overrides to specify extras
  .eslintrc.cjs
  apps/web/src/pages/login.tsx
  package.json
Due: eslint, prettier --write, prettier-package-json --write

feat: add turbo
  .eslintrc.cjs
  apps/ladle/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prettier-package-json --write

feat: add readme
  .github/ladle.png
  .github/web.png
  README.md
  apps/ladle/.eslintignore
  apps/web/package.json
  package.json
  packages/tailwind/package.json
  packages/tsconfig/tsconfig.jsx.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prettier-package-json --write

feat: add vscode folder
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: rename config files to .js because not all tools supports .cjs
  .eslintrc.js
  .lintstagedrc
  apps/ladle/package.json
  apps/ladle/postcss.config.js
  apps/ladle/tailwind.config.js
  apps/ladle/tsconfig.json
  apps/web/next.config.js
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  package.json
  prettier.config.js
  turbo.json
Due: eslint, prettier --write, prettier-package-json --write

chore: normalize package.json
  apps/ladle/package.json
  apps/web/package.json
  packages/eslint/package.json
  packages/tsconfig/package.json
Due: prettier --write, prettier-package-json --write

chore: remove DEBUG flag from eslint command
  apps/ladle/package.json
Due: prettier --write, prettier-package-json --write

feat: sharable config eslint
  .eslintignore
  .prettierignore
  .vscode/settings.json
  apps/ladle/.eslintrc.js
  apps/ladle/package.json
  apps/ladle/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint/eslint.base.js
  packages/eslint/package.json
  packages/prettier/package.json
  packages/prettier/prettier.base.js
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.json
  turbo.json
Due: eslint, prettier --write, prettier-package-json --write

feat: sharable eslint config
  .eslintignore
  .lintstagedrc
  .npmrc
  .prettierignore
  .vscode/settings.json
  apps/ladle/.eslintignore
  apps/ladle/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/tsconfig.json
  package.json
  packages/eslint/.eslintrc.js
  packages/eslint/package.json
  packages/eslint/tsconfig.json
  packages/prettier/package.json
  packages/tailwind/.eslintrc.js
  packages/tailwind/package.json
  packages/tailwind/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.workspace.json
Due: eslint, prettier --write, prettier-package-json --write

chore: share eslint
  apps/web/tsconfig.json
  packages/prettier/.eslintrc.js
  packages/prettier/package.json
  packages/prettier/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier --write, prettier-package-json --write

docs: update readme
  README.md
Due: prettier --write

feat: update dependencies
  apps/ladle/package.json
  apps/web/package.json
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier-package-json --write
